ul {
  text-decoration: none;
  display: block;
  /* justify-content: space-between; */
  list-style: none;
   border: 10px double rgb(0, 0, 0);
   font-size: 30px  ;
  /* margin-right: 40%; */
}
a:hover {
  display: flex;
  font-size: 25px;
  color:aqua;
  text-decoration: none;
 
}
a {
  display: flex;
  text-decoration: none;
  
}