*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#navbar{
background-color: rgb(248, 248, 164);
display: flex;
align-items: center; 
justify-content: space-between;
height: 150% ;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    list-style: none;
    /* margin-right: 40%; */
}
a{
   display: flex;
   text-decoration: none; 
   font-size: 15px;

}
button{
   display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    list-style: none;
    margin-right: 20%; 
}
#navbar img{
    border-radius: 50px;
    
   
}
#div1{
    height: 500px;
    background-color: lightblue;
    width: 100%;
}
#div2{
    height: 500px;
    background-color: rgb(21, 116, 148);
    width: 100%;
}
#div3{
    height: 500px;
    background-color: rgb(36, 187, 6);
    width: 100%;
}
#div4{
    height: 500px;
    background-color: rgb(219, 163, 89);
    width: 100%;
}
.imgHome{
    width: 100%;
    height: 100%; 
    z-index: 1;
    position: relative; 

}
#img1{
    
    z-index: 2;
    position: relative;
    top: 5px;
}