.parg {
background-color: rgb(247, 244, 244);
color: rgb(172, 252, 221);
text-align: center;
display:block;
font-size: 50px;
font-weight: 100;
font-style: italic;
text-transform:capitalize;
margin-top: 0px ;


}
a:hover{
font-size: 50%;
color:pink;
text-align: left;
border: 1px ;
text-decoration: none;
}
/* a:hover{
    color: aqua;
} */