*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
}
#mainGrid{
    display: grid;
    grid-template-areas: 'navbar navbar navbar'
                         'menu main main'
                         'menu footer footer';
}
#navbar{
    width: 100% ;
    height: 150px;
    background-color: lightcoral;
    grid-area: navbar;
    text-align: center;
}
#menu{
    width: 100% ;
    height: 800px;
    background-color: lightgreen;
    grid-area: menu;
    grid-template-rows: auto;

}
ul {
   text-decoration: none;
   display: inline;
   grid-template-rows: auto;
   grid-gap: 20%;
  align-items: center;
  justify-content: space-between;
  
  list-style: none;
  /* grid-template-rows: auto; */
  /* margin-right: 40%; */
  
}
a {
  display: flex;
  text-decoration: none;
  font-size: 15px;
  color: black;
  grid-template-rows: auto;
}
a:hover{
  color: rgb(248, 12, 169);
  width: 220px;
  height: 40px;


}
#main{
    width: 100% ;
    height: 650px;
    background-color: lightsalmon;
    grid-area: main;
}
#footer{
    width: 100% ;
    height: 150px;
    background-color: rgb(38, 170, 214);
    grid-area: footer;
    text-align: center;
}
p{
    display: inline;
    text-align: center;
}
p:hover{
    color: brown;
    font-size: 20px;
}
img{
  display: inline;
  border-radius: 25px;
  font-size: 400px;
  height: 150px;

}
img:hover{
  border-radius: 50%;
  height: 120px;
  width: 220px;
}
button {
  display:inline;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  list-style: none;
  margin-right: 20%;
  text-align: center  ;
  padding: 10px 20px;
  border-radius: 25px;
}
button:hover {
  background-color: lightgray;
  color: brown;
  width: 120px;
}