* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#navbar {
  background-color: rgb(248, 248, 164);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150%;
  width: 100%;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  list-style: none;
  /* margin-right: 40%; */
}
a {
  display: flex;
  text-decoration: none;
  font-size: 15px;
}
button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  list-style: none;
  margin-right: 20%;
  text-align: center  ;
}
img {
  border-radius: 50px;
}

h1 {
  font-size: 25px;
  border: 2px double rgb(8, 8, 8);
  background-color: rgb(234, 248, 152);
  color: rgb(5, 5, 5);
  display: block;
  padding: 10px;
  margin: 10px;
  text-align: left;
  text-transform: capitalize;
  width: 100px;
}
p {
  color: rgb(77, 72, 72);
  text-align: center;
  letter-spacing: normal;
  font-size: 90%;
  font-style: oblique;
  text-transform: capitalize;
  text-decoration: dashed;
  display: inline;
}
#footer {
  background-color: rgb(252, 252, 167);
  /* position: fixed; */
  width: 100%;
  /* bottom: 0%; */
  padding: 20px;
  
}
.ptag {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  grid-gap: 20px;
}
#ptag1 {
  text-align: center;

  /*  */
}
#ptag2 {
  text-align: center;
}
#mainGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 2px;
  grid-gap: 5px;
}
.gridItem{
   background-color: aliceblue;
   color: black ;
    border: 2px solid black;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
}
.gridItem  button{
    font-size: 20px;
    background-color: rgb(180, 180, 250);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 20px ;
    margin-top: 7px ;
    
    
}
.imgGrid{
    border-radius: 15px;
    height: 200px;
}
.imgGrid:hover{
    border-radius: 50px;
    width: 250px;
}
p{
    font-size: 20px;  
    font-weight: bold;
    text-align: center;
    
}
.gridItem button:hover{
    background-color: rgb(105, 133, 39);
    margin-left: 20px;
    border-radius: 120px ;
    text-align: center;
}
#main{
    margin: 20px;
}
@media screen and (max-width: 600px){
  body{
    background-color: lightpink;
  }
  #mainGrid {
  display: grid;
  grid-template-columns: auto auto ;
  border-radius: 2px;
  grid-gap: 5px;
}
.gridItem{
   background-color: aliceblue;
   color: black ;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
#main{
    margin: 0px;
    padding: 0px;

}
.imgGrid{
    border-radius: 10px;
    width: 100px;

  
} 
.gridItem  button{
    font-size: 14 px;
    background-color: rgb(180, 180, 250);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 20px ;
    margin-top: 7px ;
    
    
}
#navbar {
  background-color: rgb(248, 248, 164);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150%;
  width: 100%;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  /* margin-right: 40%; */

 }
 a {
  display: flex;
  text-decoration: none;
  font-size: 18px;
 }
 img {
  border-radius: 50px;
  margin-left: 20px;
  width: 80px;
 }
}