/* body{
    margin: 0%;
    padding: 0%;
} */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#navbar{
background-color: rgb(248, 248, 164);
display: flex;
align-items: center; 
justify-content: space-between;
height: 150% ;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    list-style: none;
    /* margin-right: 40%; */
}
a{
   display: flex;
   text-decoration: none; 
   font-size: 15px;

}
button{
   display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    list-style: none;
    margin-right: 20%; 
}
img{
    border-radius: 50px;
    
   
}
#footer{
    background-color: rgb(252, 252, 167);
    position:fixed; 
    width: 100%;
    bottom: 0%;
    padding: 20px;
    
    
}
#ptag p{
    /* text-align: center; */
    font-size: 15px;
    margin-left: 60%;
    display: flex;
}
/* #ptag2 p{
  font-size: 15px;
  display: flex;
  margin-left: 20%;
  
} */
h1{
    font-size: 25px;
    border: 2px double rgb(8, 8, 8);
    background-color: rgb(234, 248, 152);
    color: rgb(5, 5, 5);
    display: block;
    padding: 10px;
    margin: 10px; 
    text-align: left;
    text-transform:capitalize;
    width: 100px;
    
}
p{
    color: rgb(77, 72, 72);
    text-align: center;
    letter-spacing: normal;
    font-size: 90%;
    font-style: oblique;
    text-transform:capitalize;
    text-decoration: dashed;
    display: inline;
 }
 /*
#maingrid{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.imgeGrid{
    background-color: aquamarine;
    border: 1px solid black;
    margin: 20px;
    padding: 30px;
    border-radius: 10%;

}
.gridItem button{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 7px;
    border-radius: 20px;
}
.imgeGrid:hover{
    width: 250px ;
    border-radius: 20px;
}
.gridItem button:hover{
    background-color: white;
    color: black;
} */
/* #main{
margin: 30px;
} */