*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
#div1{
    height: 500px;
    background-color: lightblue;
    width: 100%;
}
#div2{
    height: 500px;
    background-color: rgb(21, 116, 148);
    width: 100%;
}
#div3{
    height: 500px;
    background-color: rgb(36, 187, 6);
    width: 100%;
}
#div4{
    height: 500px;
    background-color: rgb(219, 163, 89);
    width: 100%;
}